html, body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: gray;
}


header {

    background-color: white;
    height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 3vmax;
    }
}
main {
    height: 80%;
}

#gallery_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    height: 50%;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    h2 {
        font-size: 1.8vmax;
        padding: 5px;
        background-color: white;
    }
    .image{
        height: 50%;
        width: 20%;

    }
}


@media only screen and (min-width: 1366px) {
    header {
        margin-bottom: 20px;
        height: 120px;

        h1 {
            font-size: 1.8vmax;
        }
    }
    
    #gallery_container {
        padding: 5px;
    }
    
    .image_container {

        width: 25%;
    
        h2 {
            font-size: 1.5vmax;
        }
    }
    
    .image {
        padding: 5px;
        border: 5px;
    }

}

@media only screen and (min-width: 768px) {
    header {
        margin-bottom: 20px;
        height: 120px;

        h1 {
            font-size: 3vmax;
        }
    }
    
    #gallery_container {
        padding: 5px;
    }
    
    .image_container {

        width: 50%;
    
        h2 {
            font-size: 2.5vmax;
        }
    }
    
    .image {
        padding: 5px;
    }

}
